
@{
    ViewBag.Title = "Index";


}

<h2>
    Ispit iz predmeta Razvoj softvera I
</h2>

<br />
@Html.ActionLink("DB text", "TestDB", "Home")   << -- Generisanje podataka.
<br />
@Html.ActionLink("Takmicenje/Index", "Index", "Takmicenje") << -- Implementacija!